@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* (Optional) your global overrides can go here later */


body {
  margin: 0;
  background-color: #0f172a;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
